/*----- Global -----*/
*{ 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    font-size: 100%; 
    vertical-align: baseline; 
    background: transparent; 
} 
 
html{ 
    font-family: Avenir; 
} 
 
.landing{ 
    background-image: url(../images/bg_01.png); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    min-height: 600px;
} 

.features{
    background-image: url(../images/bg_02.png); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    min-height: 600px;
    position: relative;
}

.groups{
    background-image: url(../images/bg_03.png); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    min-height: 600px;
    position: relative;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    
}

p{
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 20px;
    opacity: 0.8;
}

a{
    font-size: 16px;
}

.btnOne{
    border: white 2px;
}


/*----- Landing -----*/



/*----- Features -----*/



/*----- Groups -----*/












